/* .card {
  position: relative;
  width: 90px;
  height: 150px;
  margin: 0.5em;
  background-image: url('../assets/playing-card-back.png');
  border: 1px black solid;
  justify-self: center;
  transition: all 0.3s ease-in;
} */